body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #007aff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #005ecb;
}


.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.card {
    width: 400px;
    height: 220px;
    perspective: 1000px;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 1;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    padding: 20px;
}

.card-back {
    transform: rotateY(180deg);
}

.card-front p,
.card-back p {
    font-size: 25px;
    text-align: center;
}
.audio {
    margin-bottom: 10px;
}
.extra-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.extra-buttons button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background: #ffa500;
    color: white;
    cursor: pointer;
}

.extra-buttons button:hover {
    background: #ff8c00;
}


